@model PB.Domain.Posting
@{
    ViewBag.Title = "ViewPosting";
}

<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-8 my-2">
                <div class="card my-2">
                    <div class="card-body">
                        <h5 class="card-title">@Html.DisplayFor(posting => posting.title)</h5>
                        <h6 class="card-subtitle mb-2 text-muted">@Html.DisplayFor(posting => posting.description_subject)</h6>
                        <hr>
                        <p class="card-text text-justify">
                            @Html.DisplayFor(posting => posting.body_text)
                            <br />
                        </p>
                        <div class="text-right">
                            Data de publicação: @Html.DisplayFor(posting => posting.posting_date)
                        </div>
                        <hr />
                        @Html.ActionLink("Editar", "Update", new { posting_code = Model.posting_code }, new { @class = "btn btn-warning text-white"})
                        @Html.ActionLink("Excluir", "Delete", new { posting_code = Model.posting_code}, new { @class = "btn btn-danger"})
                    </div>
                </div>
        </div>
        <div class="col-sm-12 col-md-4 my-2">
            <div class="card my-2">
                <div class="card-body">
                    <h6>Mais Opções</h6>
                    <hr>
                    @Html.ActionLink("Adicionar Postagem", "Insert", new { htmlAttributes = new { @class = "mr-2" } })
                    <br />
                    @Html.ActionLink("Voltar", "Index", new { htmlAttributes = new { @class = "mr-2" } })
                </div>
            </div>
        </div>
    </div>

